/*
/msvc/Release-x64/*
/msvc/blend2d-static/*
!/.gitignore
!/assets
!/blend2d
!/rebol
!/src
!/make.bat
!/test.r3
!/msvc/build-blend2d-extension-release.bat
!/msvc/build-blend2d-static-release.bat
!/msvc/ext-b2d-x64-st.sln
!/msvc/ext-b2d-x64-st.vcxproj
!/msvc/ext-b2d-x64-st.vcxproj.filters
